---
layout: default
title: Publications
permalink: /publications/
---


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">

  <h4>Publications</h4>

  <p>This may not be the most complete or up-to-date so please check out my <a href="https://scholar.google.com/citations?user=TWc4vkkAAAAJ&hl=en&authuser=2">Google Scholar</a> or <a href="https://orcid.org/my-orcid?orcid=0000-0001-9899-8064">ORCID</a>.<br/>
  <sup>‡</sup> equal contribution, <sup>§</sup> supervised student<br/>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-published">Published</div></li>
    <li><div class="button" data-ref="#papers-review">In Review</div></li>
    <li><div class="button" data-ref="#papers-preprint">Preprints</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.doi %}
              <a class="button" href="{{ paper.doi }}" target="_blank">Link</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-published">
      {% assign published_papers = site.data.publications.papers | where: "published", "y" %}
      {% for paper in published_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.doi %}
              <a class="button" href="{{ paper.doi }}" target="_blank">Link</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-review">
      {% assign review_papers = site.data.publications.papers | where: "review", "y" %}
      {% for paper in review_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.doi %}
              <a class="button" href="{{ paper.doi }}" target="_blank">Link</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-preprint">
      {% assign preprint_papers = site.data.publications.papers | where: "preprint", "y" %}
      {% for paper in preprint_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.doi %}
              <a class="button" href="{{ paper.doi }}" target="_blank">Link</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.doi %}
              <a class="button" href="{{ paper.doi }}" target="_blank">Link</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<h4>Collaboration Network</h4>

<div style="width:500px; height:400px; margin: 0 auto;">
  <iframe
    src="{{ 'network.html' | relative_url }}"
    width="500"
    height="400"
    style="border: none; display: block; margin: 0 auto;">
  </iframe>
</div>
