<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Will Rogers">
  <meta name="author" content="Will Rogers">

  <meta property="og:title" content="Will Rogers">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://will-rogers.github.io/portfolio/">
  <meta property="og:site_name" content="Will Rogers">

  <link rel="canonical" href="https://will-rogers.github.io/portfolio/">

  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/libs/external/skeleton/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/libs/external/skeleton/skeleton.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/libs/custom/my_css.css' | relative_url }}">

  <!-- jQuery -->
  <script src="{{ '/libs/external/jquery-3.1.1.min.js' | relative_url }}"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ '/libs/external/fontawesome-free-6.6.0-web/css/all.min.css' | relative_url }}">

  <!-- Academicons -->
  <link rel="stylesheet" href="{{ '/libs/external/academicons-1.8.6/css/academicons.min.css' | relative_url }}">

  <!-- Skeleton tabs -->
  <link rel="stylesheet" href="{{ '/libs/external/skeleton_tabs/skeleton-tabs.css' | relative_url }}">
  <script src="{{ '/libs/external/skeleton_tabs/skeleton-tabs.js' | relative_url }}"></script>

  <!-- Timeline -->
  <link rel="stylesheet" href="{{ '/libs/external/timeline.css' | relative_url }}">

  <!-- Custom JS -->
  <script src="{{ '/libs/custom/my_js.js' | relative_url }}"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/libs/icon.png' | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/libs/icon.png' | relative_url }}">

</head>

<body>

  <div class="container">

    <section class="header">
      <div class="row">
        <div class="three columns">
          <a href="{{ '/' | relative_url }}">
            <img class="u-max-full-width"
                 src="{{ '/assets/profile-pics/head_long.png' | relative_url }}"
                 alt="Will Rogers profile photo">
          </a>
        </div>

        <div class="nine columns main-description">
          <h1>{{ site.data.main_info.name }}</h1>
          <p>{{ site.data.main_info.title }}</p>
          <p>{{ site.data.main_info.email }}</p>
          <p>{{ site.data.main_info.address }}</p>

          <p>
            <span onclick="window.open('{{ site.data.main_info.bsky }}')" style="cursor:pointer">
              <i class="fa-brands fa-bluesky"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor:pointer">
              <i class="fa-brands fa-github"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor:pointer">
              <i class="ai ai-google-scholar"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.orcid }}')" style="cursor:pointer">
              <i class="fa-brands fa-orcid"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor:pointer">
              <i class="fa-brands fa-linkedin"></i>
            </span>
          </p>
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/index.html#bio' | relative_url }}">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/bio/' | prepend: site.baseurl }}">Bio</a>
          </li>
          <!--
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/research/' | prepend: site.baseurl }}">Research</a>
          </li>
          -->
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/publications/' | prepend: site.baseurl }}">Publications</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/cv/' | prepend: site.baseurl }}">CV</a>
          </li>
          <!--
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/code/' | prepend: site.baseurl }}">Code & Packages</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/initiatives/' | prepend: site.baseurl }}">Initiatives and Community</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ '/teaching/' | prepend: site.baseurl }}">Teaching & Outreach</a>
          </li>
          -->
        </ul>
      </div>
    </nav>

    {{ content }}

    <div class="footer">
      <div class="row">
        <div class="four columns">{{ site.data.main_info.name }}</div>
        <div class="four columns">{{ site.data.main_info.email }}</div>

        <div class="four columns">
          <span onclick="window.open('{{ site.data.main_info.bsky }}')" style="cursor:pointer">
            <i class="fa-brands fa-bluesky"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor:pointer">
            <i class="fa-brands fa-github"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor:pointer">
            <i class="ai ai-google-scholar"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.orcid }}')" style="cursor:pointer">
            <i class="fa-brands fa-orcid"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor:pointer">
            <i class="fa-brands fa-linkedin"></i>
          </span>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
